.project-page {
    section {
        position: relative;
        margin: 3rem 0 0 0;
    }

    &.fixed-content-buffer {
        flex-basis: 25%;
        max-width: 25%;

        @include breakpoint(flexgrid-lg) {
            flex-basis: 20%;
            max-width: 20%;
        }
    }
    &.scrolling-content-container {
        flex-basis: 75%;
        max-width: 75%;

        @include breakpoint(flexgrid-lg) {
            flex-basis: 80%;
            max-width: 80%;
        }
    }
}

.section-content {
    margin-left: 10rem;
    padding: 0.25rem 1rem 1rem 1rem;

    @include breakpoint(flexgrid-lg){
        margin-left: 0;
        padding: 0.25rem 0 1rem 0;
    }

    p {
        margin-top: 0;
    }
}

.project-header {
    position: absolute;
    margin-top: 0;
    left: -2rem;

    @include breakpoint(flexgrid-lg) {
        font-size: 24px;
        left: 0;
        top: -2rem;

        &#overview-header{
            top: -2rem;
        }
    }
}

#overview {
    margin-bottom: 3.5rem;
}

.overview-section {
    border: solid $darkGrey 2px;
    border-radius: 1rem;
    background-color: $bgColor;
    margin: 0 1rem 0 11rem;

    h3 {
        margin-bottom: 0.25rem;
    }
    p {
        margin: 0 0 0.25rem 0;
        line-height: 1rem;
    }

    @include breakpoint(flexgrid-lg){
        margin: 0;
    }
}

.progress-container {
    position: fixed;
    height: 25vh;
    bottom: 10vh;
    left: 3rem;
    display: flex;
    flex-direction: column;
    transition: all linear 0.2s;

    @include breakpoint(flexgrid-md){
        left: 2rem;
    }

    @include breakpoint(phablet-transition){
        left: 1rem;
    }
}

.progress-section {
    position: relative;
    margin-bottom: 0.25rem;
    width: 16px;
    background-color: $lightGrey;
    z-index: 100;
    transition: all linear 0.2s;

    &.filled {
        background-color: $primaryCol;
    }

    &:hover {
        cursor: pointer;
        background-color: $accentCol;
        .progress-label {
            left: 125%;
            opacity: 1;
            color: $accentCol;
        }
    }
}

.progress-label {
    position: absolute;
    display: block;
    font-weight: 600;
    color: $lightGrey;
    left: 0%;
    top: 30%;
    opacity: 0;
    transition: all linear 0.2s;
    z-index: 99;
}
