body.test {
    background-color: $bgColor;
    font-family: "Lato", sans-serif;
	font-size: 1rem;
    margin: 0px; 
    padding: 0;
    //position: relative;
}

.project-card {
    position: relative;
    display: block;
    width: 100%;
    max-width: 12rem;
    height: 6rem;
    border: 6px solid $primaryCol;
    border-radius: 1rem;
    margin: 1rem 0;

    transform-origin: 100% 50%;
    transform: rotateY(40deg);
    transition: transform ease .3s;

    font-size: 2rem;
    font-weight: 800;
    color: $primaryCol;

    text-decoration: none;

    &:hover, &:focus {
        transform: rotateY(0deg); 
    }

    h3 {
        margin: auto;
    }
}